@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



*{
    margin: 0;
    padding: 0;
}

.container{
    background: url(bg\ \(1\).jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: lightseagreen;
}

.logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    
}

.navbar ul{
    float: right;
    margin-right: 20px;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;

}

.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 6px 13px;
    font-family: Roboto;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: orange;
    border-radius: 2px;

} 

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    font-size: 70px;
    color: black;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h3{
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 885px;
    text-align: center;
    margin-top: 10px;
}

.buttons{
    margin: 35px 280px;
}

.buttons button{
    height: 50px;
    width: 150px;
    background:  red;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    border: solid 1px black;
    border-radius: 25px;
    transition: 0.8s;
}

.buttons button:hover{
    background: white;
    
}