*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    height: 100vh;
    background:linear-gradient(rgb(0,0,0,.5) , rgb(0,0,0,.5)),
     url(resimler/background-72250_1280.jpg);
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container .addNote{
    margin-left: auto;
    margin-right: 50px;
    margin-top: 40px;
}

.addNote button{
    width: 100%;
    background-color: #ff5656;
    border: 2px solid #ff5656;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 35px;
    color: white;
    font-size: 23px;
}

.addNote button i{
    padding-right: 5px;
}

.container .note-list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: 40px;
    gap: 15px;
}

.note-list .note-list-item{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    background-color: #ffd99b;
    border: 2px solid #ffd99b;
    border-radius: 10px;
}

.note-list-item .header{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    width: 100%;
    height: 40px;
    border-bottom: 2px solid black;
}

.note-list-item .header p{
    margin-right: auto;
    font-size: 20px;
    margin-left: 10px;
    color: black;
}

.note-list-item .header a{
    margin-right: 10px;
    font-size: 20px;
    color:black
}

.note{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;  
    word-wrap: break-word;
}

.note-list textarea{
    background-color: transparent;
    height: 100%;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 19px;
    flex: 1;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden{
    display: none;
}