@import url('https://fonts.googleapis.com/css2?family=Gupter&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 200vh;
    overflow: scroll;
    overflow-x: hidden;
}

.container{
    background: url(cocukderscalisma680.jpg);
    height: 100vh;
    background-size: 100% 100%;
    
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
}

.logo{
    display: inline-block;
}

.logo a{
    text-decoration: none;
    color: rgb(3, 165, 252);
    font-size: 40px;
    font-weight: bold;
    margin-left: 200px;
    line-height: 80px;
    font-family: "Gupter", serif;
}

.navbar ul{
    float: right;
    margin-right: 100px;
    line-height: 80px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px; 
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 6px 13px;
    font-size: 20px;
}

.center{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center h1{
    font-size: 90px;
    display: inline-block;
    color: white;
    font-weight: bold;
    user-select: none;
}

#x{
    color: orange;
    margin-left: 20px;
}

.center h2{
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    user-select: none;
}

.center h4{
    text-align: center;
    margin-top: 15px;
    color: white;
    letter-spacing: 3px;
    word-spacing: 4px;
    user-select: none;
}

.bilgi{
    position: absolute;
    top: 170%;
}

#isim{
    width: 385px;
    height: 45px;
    padding-left: 5px;
}

#numara{
    width: 385px;
    height: 45px;
    margin-left: 20px;
    padding-left: 5px;
}

#soyisim{
    width: 385px;
    height: 45px;
    padding-left: 5px;
    margin-top: 20px;
}

#mesaj{
    width: 385px;
    height: 45px;
    padding-left: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

#gönder{
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: #ff7f62;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 150%;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
    
}

#gönder:hover{
    background-color: black;
    
}

.başlık{
    text-align: center;
    color:rgb(50, 113, 168);
    font-weight: bold;
    font-size: 25px;
    margin-top: 70px;
}

.hakkında-bilgi {
    width: 20%;
    height: 100px;
    color: black;
    display: inline-block;
    position: absolute;
    top: 110%;
    right: 30%;
    margin-top: 100px;
    
}

.hakkında-bilgi h1{
    font-weight: bold;
    font-size: 30px;
    width: 550px;
    color: black;
    
   
}
hr{
    border-top: 2px black;
    width: 500px;
}

.hakkında-bilgi p{
    font-weight: bold;
    width: 500px;
    color: lightgray;
    font-size: 20px;
    
   
}

.hakkında-img{
    background: url(about.jpg);
    width: 530px;
    height: 430px;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    top: 110%;
    left: 20%;
    margin-top: 100px;

}


