*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    user-select: none;
}

:root{
    --color_one:#272727;
    --color_two:#1b74b5;
    --color_three:#0e802e;
}

body{
    height: 100vh;
    background-color: var(--color_one);
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 320px;
    height: 460px;
    border: 3px solid rgb(96, 96, 96);
    border-radius: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.btn_cont{
    display: flex;
    gap: 10px;
}

.btn,.AC,.DE,.equals,.result{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    border-radius: 50%;
    font-weight: bold;
    color: var(--color_two);
    background-color: rgb(47, 47, 47);
    cursor: pointer;
    outline: none;
    box-shadow: 0px 3px 2px rgb(96, 96, 96);
    transition: all .05s ease-in-out;
}

.btn,.AC,.DE,.equals{
    text-shadow: 1px 1px 2px var(--color_two);
}

.btn:active,
.equals:active,
.AC:active,
.DE:active{
    transform: scale(.95);
}

.btn:not(.num),
.equals,.AC,.DE{
    color: var(--color_three);
    text-shadow: 1px 1px 2px var(--color_three);
}

.result{
    box-shadow: none;
    display: flex;
    justify-content: end;
    color: white;
    width: 270px;
    height: 60px;
    padding-inline: 10px;
    letter-spacing: 2px;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgb(213, 212, 212);
    cursor: auto;
    border-radius:20px ;
    overflow: hidden;
    text-wrap: nowrap;
}

.equals{
    width: 130px;
    border-radius: 50px;
}