*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    width: 100%;
    height: 100vh;
    
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card{
    width: 700px;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

/* Todo List Header Başlangıç */
.card .header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
}

.header h2{
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 0 8px;
}

.header .star1{
    font-size: 25px;
}

.header .star2{
    font-size: 20px;
}

.header .star3{
    font-size: 15px;
}
/* Todo List Header Bitiş */

/* Todo Ekleme başlangıç */
.container .add{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.add .todoForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid #fff;
}

.add .todoForm .todoName{
    width: 90%;
    margin-left: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 17px;;
    border: 2px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.todoName:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255,.30);
}

.add .todoForm .addButton{
    /* width: 100px;
    height: 30px; */
    margin-left: 30px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
    width: fit-content;
}
/* Todo Ekleme Bitiş */

/* Todo List Oluşturma Başlangıç */
.card .list-group{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.card .list-group::-webkit-scrollbar{
    background-color: #ccc;
    border: 1px solid black;
    border-radius: 5px;
    color:red;
}

.card .list-group::-webkit-scrollbar-thumb{
    background-color: rgb(85, 85, 85);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 5px;
}

.list-group .list-group-item{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 19px;
    margin-bottom: 30px;
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.list-group-item span{
    width: 80%;
    margin-left: 10px;
    border-bottom: 2px solid #fff;
    overflow: hidden;
}

.list-group-item a{
    margin-left: auto;
    margin-right: 20px;
}

.list-group-item a i{
    color: black;
}

/* Todo List Oluşturma Bitiş */
 
/* Tüm Todoları Temizle Başlangıç */
.todoClearButton{
    margin: 30px 0px 20px 30px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
    width: fit-content;
}
/* Tüm Todoları Temizle Başlangıç */