*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #212121;
    font-family: Roboto, Arial, sans-serif;
}

a{
   color: white;
}


.header{
    width: 100%;
    height: 50px;
    background: #212121;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
}

.header .navbar .logo{
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 30px;
}


.navbar .logo .menu{
    margin-right: 18px;
}

.navbar .logo .menu a{
    font-size: 20px;
    
}

.navbar .logo .youtube a{
    font-size: 22px;
    font-weight: 700;
    
}

.navbar .logo .youtube a i{
    color: red;
    margin-right: 2px;
}

.header .navbar .search{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 4px;
}

.header .navbar .search .ara{
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 255, 255,.3);
    border-radius: 20px;
    overflow: hidden;
}



.header .navbar .search .ara input{
    width: 500px;
    height: 40px;
    padding: 10px;
    background-color: #212121;
}

.header .navbar .search .ara button{
    width: 50px;
    height: 40px;
    background: rgb(255,255,255,.1);
    cursor: pointer;
}

.header .navbar .search .ara button i{
    color: #fff;
}

.header .navbar .mic{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background: rgb(255,255,255,.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .profil{
    display: flex;
    align-items: center;
}

.header .profil nav ul{
   display: flex;
   align-items: center;
   margin: 0 40px 0 40px;
}

.header .profil nav ul li{
    margin: 0 20px 0 20px;
}

.header .profil nav ul li a{
    font-size: 18px;
}

.navbar .profil a img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}




/* CONTAİNER BAŞLANGIÇ */

.container{
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar{
    grid-column: 1/2;
    overflow:auto;
    height: 100%;
    
}

.container .sidebar:hover::-webkit-scrollbar-thumb{
   background: #eee;
}

.container .sidebar::-webkit-scrollbar{
    background: transparent;
    width: 3px;
}

.container .sidebar::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 4px;
}

.container .sidebar section{
    margin-top: 10px;
    padding-bottom: 10px;
}

.container .sidebar section:not(:last-child){
    margin-bottom: 15px;
    border-bottom:1px solid rgb(255, 255, 255,.3);
}


.container .sidebar section nav ul li {
    margin-bottom: 15px;
    height: 40px;
    margin: 0 15px 0 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .sidebar section nav ul li:hover{
    background-color: rgb(57, 58, 59);
    border-radius: 10px;
}

.container .sidebar section nav ul li.active{
    background-color: rgb(57, 58, 59);
    border-radius: 10px;
}

.container .sidebar section nav ul li a{
    margin-left: 15px;
    font-weight: 300;
    font-size: 14px;
    color: rgb(255, 255, 255,.9);
}

.container .sidebar section nav ul li a i{
    margin-right: 17px;
    font-size: 17px;
}

.container .sidebar section nav ul p{
    color: #fff;
    margin-left: 30px;
    font-size: 17px;
}

.container .sidebar section nav ul li a{
    display: flex;
    align-items: center;
}

.container .sidebar section nav ul li a img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.container .sidebar .renk nav ul li a i{
    color: red;
}

.container .sidebar .footer .about{
    width: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.container .sidebar .footer .about p{
    color: rgb(255, 255, 255,.5);
    margin-bottom: 30px;
    font-size: 14px;
}

.container .sidebar .footer .about span{
    color: rgb(255, 255, 255,.4);
    font-size: 14px;
}

/* sidebar bitiş */

.container .content  .content-header{
    margin-top: 20px;
    margin-left: 20px;
}

.container .content  .content-header nav ul{
    display: flex;
    flex-direction: row;
}

.container .content  .content-header nav ul li{
    margin-right: 10px;
    border: 2px solid rgb(57, 58, 59);;
    border-radius: 8px;
    padding: 5px 8px;
    background: rgb(57, 58, 59);;
}

.container .content  .content-header nav ul .all{
    background: rgb(255, 255, 255);
}

.container .content  .content-header nav ul .all a{
    color: #000;
}


/* content-menu başlangıç */

.container .content{
    grid-column: 2 / 3;
    height: 100%;
    overflow: auto;
}


.content .content-menu{
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.content .content-menu nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .content-menu nav ul li{
    margin-bottom: 60px;
}

.content .content-menu nav ul li a .video > img{
    width: 380px;
    height: 230px;
    border-radius: 10px;

}

.content .content-menu nav ul li a .video .bilgi img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.content-menu nav ul li a .bilgi{
    margin-top: 10px;
    display: flex;
}

.content-menu nav ul li a .bilgi2{
    display: flex;
}

.content-menu nav ul li a .izlenme{
    margin-left: 10px;
}

.content-menu nav ul li a .title{
    color: #fff;
    font-size: 18px;
    margin-bottom: 7px;
}

.content-menu nav ul li a .kanal{
    color: rgb(255, 255, 255,.4);
    margin-bottom: 4px;
}

.content-menu nav ul li a .görüntülenme{
    color: rgb(255, 255, 255,.4);
}

.content-menu nav ul li a .time{
    margin-left: 5px;
    color: rgb(255, 255, 255,.4);
}

